on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - id: release-please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Print Release Details
        run: |
          echo "${{ steps.release-please.outputs }}"

  test-remote:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: remote
    steps:
      - name: Get latest code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Setup venv
        run: uv venv

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run tests
        run: uv run pytest

  build-and-push-remote:
    runs-on: ubuntu-latest
    needs: [ release-please, test-remote ]
    if: ${{ needs.release-please.outputs.remote--release-created }}
    timeout-minutes: 10
    defaults:
      run:
        working-directory: remote
    steps:
      - name: Get latest code
        uses: actions/checkout@v6

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        run: |
          docker buildx build \
            -t "${{ vars.DOCKERHUB_USERNAME }}/pull-deployment:${{ needs.release-please.outputs.remote--tag_name }}" \
            -t "${{ vars.DOCKERHUB_USERNAME }}/pull-deployment:latest" \
            --push .
